*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

.ChangeBtn{
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #fff;
    background: none;
    color: #fff;
    font-size: 22px;
}